.textInfoSize {
    font-size: 14px;
    background-color: #009090;
    width: 250px;
  }

/* Adjusts image sizes for mobile */
@media (min-width: 200px) {
    iframe {
      width: 370px;
      height: 250px;
      resize: auto;
      overflow: auto;
    }
  
    img[class=skuImage],
    span[class=textInfoSize] {
      width: 80%;
      align-self: stretch;
    }
  }
  
  /* Adjusts image sizes for desktop */
  @media (min-width: 800px) {
    iframe {
      width: 650px;
      height: 300px;
      resize: auto;
      overflow: auto;
    }
  
    /*
    img[class=longImg] {
      width: 700px;
      height: 350px;
    }
    */
  
    span[class=textInfoSize],
    img[class=skuImage]{
      width: 250px;
    }
  }